{% extends 'KITCHEN/kitchen_index.html' %}
{% block body %}
<form action="/app/add_notification_post/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<table class="table table-striped table-hover">

  <tr><input type="hidden" name="h1" value="{{ data.id }}">
    <th>Notification:</th>
     <td><textarea name="textarea" id="textarea" class="form-control" cols="45" rows="5"></textarea></td>
  </tr>

  <tr>
    <td colspan="2"><div align="center">
      <input type="submit" name="button"  id="button" class="btn btn-success" value="Add" />
    </div></td>
    </tr>
</table>
</form>

{% endblock %}