<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table width="200" border="1">
      <tr>
        <td><a href="/app/service_station_bill/">service_station_bill</a></td>
      </tr>
      <tr>
        <td><a href="/app/service_station_helpview/">service_station_helpview</a></td>
      </tr>
        <tr>
        <td><a href="/app/service_station_notification/">service_station_notification</a></td>
      </tr>
    </table>
</body>
</html>