<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<h1 align="center">LOGIN</h1>
<form action="/app/login_post/" method="post">
    <table align="center" width="319" border="1">
    {% csrf_token %}
  <tr>
    <td width="139">User name:</td>
    <td width="164">
      <input type="text" name="username" id="1" /></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td>
      <input type="text" name="password" id="2" /></td>
  </tr>
  <tr>
   <td colspan="2"><div align="center">
     <input type="submit" name="Loginbutton" id="button" value="Login" />
   </div></td>
    </tr>
</table>
</form></body>
</html>
