<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td><a href="/app/add_food/">Add food</a></td>
  </tr>
  <tr>
    <td><a href="/app/view_food/">View food</a></td>
  </tr>
  <tr>
    <td><a href="/app/add_staff/">Add staff</a></td>
  </tr>
  <tr>
    <td><a href="/app/view_staff/">View staff</a></td>
  </tr>
  <tr>
    <td><a href="/app/add_tableno/">Add table</a></td>
  </tr>
  <tr>
    <td><a href="/app/view_tableno/">View table</a></td>
  </tr>
  <tr>
    <td><a href="/app/user_inform/">View user</a></td>
  </tr>
  <tr>
    <td><a href="/app/kitchen_feedback/">View feedback</a></td>
  </tr>
</table>
</body>
</html>

